body{
    height: auto;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient( 121deg, #240b36, #c31432);
}
#nav-bar span{
  color: orangered;
  font-size: 30px;
}
#nav-bar ul .active .nav-link {
  color: orangered;
}

#nav-bar .nav-link
{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 16px;
} 
#nav-bar .social-links a{
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
#banner{
    background: linear-gradient( 121deg, #a736f8, #5b0211);

}
#banner .banner-content{
    margin: 50px 0 20px 10px ;
}


#banner button{
  width: 150px;
  background-color: rgba(206, 33, 3, 0.2);
  border: 2px double orangered;
}
#accordion .card{
    /* border: linear-gradient( 90deg, #f5922e, #e76d81); */
    border: 2px solid white;
    border-radius: 5px;
}
#accordion .card-header1{
    background: linear-gradient( 121deg, #ca8df5, #ed4662);

}
#headingOne .btn-link{
    border:2px solid white;
}
#collapseOne .card-body{
    /* border-bottom: 2px solid rgba(#fff, 0.25); */
    background: rgba(lightgrey, 0.5);

}

#accordion .card-header2{
    background: linear-gradient( 121deg, #ca8df5, #ed4662);

}
#headingTwo .btn-link{
    border:2px solid white;
}
#collapseTwo .card-body{
    /* border-bottom: 2px solid rgba(#fff, 0.25); */
    background: rgba(lightgrey, 0.5);

}

#accordion .card-header3{
    background: linear-gradient( 121deg, #ca8df5, #ed4662);

}
#headingThree .btn-link{
    border:2px solid white;
}
#collapseThree .card-body{
    /* border-bottom: 2px solid rgba(#fff, 0.25); */
    background: rgba(lightgrey, 0.5);

}




/* Footer styling */
#footer .fa-ul .f-icon{
    padding-right: 8000px;
}

#footer img{
        border-radius: 10%;
        margin-top: 10px;
        border-left:5px solid white;
        border-right: 5px solid white;
        
}

/* Media Queries */
@media(min-width:768px) and (max-width:992px){
    #nav-bar .nav-link
{
    font-size: 14px;    
    color: black;
}
#nav-bar .social-links a{
    font-size: 25px;
    padding-left: 5px;
}
#footer img{
    margin-top: 80px;
}


}
@media(min-width:375px) and (max-width:768px){

   
}

@media(min-width:320px) and (max-width:423px){

  
}